---
---
@import "{{ site.theme }}";
.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: url("../images/test_banner2.jpg");
  background-position: center;
}
