---
---
@import "{{ site.theme }}";
.page-header {
  color: #FFFFFF;
  text-align: center;
  background-color: #7da2d9;
  background-image: url("./../images/test_banner7.jpg");
  background-position: center top;
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}
