---
---
@import "{{ site.theme }}";
.page-header {
  color: #FFFFFF;
  text-align: center;
  background-color: #8ba8d2;
  background-image: url("./../images/test_banner3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
